.registry_category{
    display: flex;
    margin-top: 1rem;
}
.registry_category p{
    margin: 5px;
    font-size: 1.1em;
}
.registry_category i{
    font-size: 16px;
    color: gray;
}
.regis p{
    color: black;
    font-size: 2em;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dashed darkgray;
}
.registry_new{
    display: flex;
    margin-top: 1.5rem;
    width: 100%;
    height: 30rem;
    border: 1px solid gainsboro;
    border-radius: .2rem;
    margin-bottom: 4rem;
}

.registry_new .gg_fb{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: #f6f6f6;
}
.registry_new .fg{
    margin-top: 6rem;
}
.registry_new .fg p{
    margin-bottom: 2rem;
    font-size: 1.2em;
    text-align: center;
}
.registry_new .fg a{
    padding: .8rem;
    border-radius: .4rem;
    color: white;
    font-weight: bold;
    margin-left: .2rem;
    display: block;
    font-size: 1.2em;
    margin-top: 1rem;
}
.registry_new .fg a i{
    padding-right: .5rem;
    padding-left: 3rem;
    font-size: 1.3em;
}
.registry_new .fg #a_fg1{
    background: #d33d2c;
}
.registry_new .fg #a_fg2{
    background:#3b5999;
}
.registry_new .registration{
    width: 70%;
    height: 100%;
    background: white;
    position: relative;
}
.registry_new .registration p{
    margin: 1rem 0 1rem 0rem;
    color:mediumseagreen;
    font-size: 1.8em;
    padding-bottom: .5rem;
    border-bottom: 1px dashed darkgray;
    font-weight: bold;
    text-align: center;
}
.registry_new .registration table{
    margin-left: 10rem;
}
.registry_new .registration table td{
    padding: .5rem;
    margin-left: 2rem;
}
.registry_new .registration table tr{
    font-size: 1em;
}
.registry_new .registration table input[type="text"],input[type="password"],input[type="date"]{
    width: 14rem;
    height: 1.8rem;
    border-radius: .2rem;
    border: 1px solid gainsboro;
    padding-left: .5rem;
}
.registry_new .registration a{
    position: absolute;
    left: 21rem;
    bottom: 1.5rem;
    padding: .8rem 2rem;
    background: mediumseagreen;
    color: white;
    font-size: 1.2em;
    border-radius: .2rem;
    font-weight: bold;
}