table{
    width: 100%;
    mat-icon{
        cursor: pointer;
        margin-right: 20px;
    }
}
.favorite{
    display: flex;
    margin-right: 15px;
    justify-content: flex-end;
    .btn{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;
    }
}