<p [style.color]="color" [style.fontSize.px]="fontSzie">Thay vì chiêu mộ Wilfried Zaha, Arsenal đã quyết định chi 72 triệu bảng để sở hữu Nicolas Pepe. Hiện tại, ngôi sao
    chạy cánh người Bờ Biển Ngà đang hoàn tất thủ tục gia nhập sân Emirates. Đây sẽ là bản hợp đồng đắt giá nhất lịch sử
    Arsenal.

    CĐV của Arsenal có lý do để kì vọng ở Nicolas Pepe bởi Premier League đang chứng kiến sự thành công của rất nhiều
    cầu thủ châu Phi. Chẳng nói đâu xa, ở Premier League mùa trước, danh hiệu Vua phá lưới đều thuộc về 3 cầu thủ đến từ
    châu Phi là Pierre-Emerick Aubameyang (Arsenal), Mohamed Salah và Sadio Mane (Liverpool).
</p>